<ion-view view-title="SW Dashboard">
  <ion-content class="padding">
 <ion-list>
         <div class="list">

  <a class="item item-icon-left" href="#/tab/dash/people">
    <i class="icon ion-help-buoy"></i>
    People
  </a>
   <a class="item item-icon-left" href="#/tab/dash/planet">
    <i class="icon ion-earth"></i>
    Planet
  </a>
   <a class="item item-icon-left" href="#/tab/dash/films">
    <i class="icon ion-ios-briefcase"></i>
    Films
  </a>
  <a class="item item-icon-left" href="#/tab/dash/species">
    <i class="icon ion-ios-monitor"></i>
    Species
  </a>
  <a class="item item-icon-left" href="#/tab/dash/vehicles">
    <i class="icon ion-ios-flame"></i>
    vehicles
  </a>
  <a class="item item-icon-left" href="#/tab/dash/starships">
    <i class="icon ion-android-watch"></i>
    Starships
  </a>

 



</div>
        </ion-list>
  </ion-content>
</ion-view>
